# any of...
.coverage
.coverage*
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
.venv/
bin/
devsrc/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
var/
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.tox/
reports/
# excludes
